<div class="container">  
  <div class="alert alert-success col-xs-11" ng-show="message.text && message.success" style="margin-left: 2.5%; width: 94.5%" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="message.success = false">
      <span aria-hidden="true">&times;</span>
    </button>
      {{ message.text }}
  </div>
  <div class="alert alert alert-danger col-xs-11" ng-show="message.text && message.error" style="margin-left: 2.5%; width: 94.5%" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="message.error = false">
      <span aria-hidden="true">&times;</span>
    </button>
      {{ message.text }}
  </div>      
  <div style="display: inline-flex;width: 100%">
    <input class="form-control col-xs-offset-9" style="width: 22%; margin-bottom:0.5%" ng-model="filter" placeholder="Procurar..." data-ng-change="FilterUser()"/>     
  </div>
  <div>
    <div id="gridUsers" ui-grid="gridOptions" ui-grid-selection  class="col-xs-11 grid" style="margin-left:2.5%; padding:0%; width: 94.4%"></div>
    <a href="#"  ng-click="getAllUsers()" style="margin-left: 8px;"><span class="glyphicon glyphicon-refresh"></span></a></td>
  </div>
    <div class="form-group col-xs-3 col-xs-offset-10 row" style="padding-left:4.9%; margin-top:0.5%">
      <span class="col-xs-1">
        <a ui-sref="user" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span></a></td> 
      </span>
      <span class="col-xs-1">
        <a href="#" class="btn btn-xs btn-info" ng-show="GetCurrentSelectionId()" ui-sref="user({id : currentSelection.id })" ><span class="glyphicon glyphicon-pencil"></span></a></td>
        <a href="#" class="btn btn-xs btn-info" ng-show="!GetCurrentSelectionId()" ><span class="glyphicon glyphicon-pencil"></span></a></td>
      </span>
      <span class="col-xs-1">
        <a href="#" class="btn btn-xs btn-danger" ng-show="GetCurrentSelectionId()" ng-click="DeleteUser()"><span class="glyphicon glyphicon-remove"></span></a></td>
        <a href="#" class="btn btn-xs btn-danger" ng-show="!GetCurrentSelectionId()"><span class="glyphicon glyphicon-remove"></span></a></td>
      </span>
  </div>
</div>