.notpadding {
  padding: 0%;
}

.buttonAlignTextField {
    top : 6px;
}

.textFieldAlign {
    padding-right: 4px;
    margin-left: 51.5%;
}
.buttonDelete {
    padding-left:2%;
    padding-right:2%;
    padding-top:0.5%;
    padding-bottom: 0.5%;
    font-size:14px;
    margin-left: 4.5%
}

.marginSwitch {
    margin-top: -1%
}
