<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
<configSections>
  <section name="mailConfig" type="ControleAcessoService.Mail.MailConfigSectionHandler, ControleAcessoService" />
  </configSections>
  <system.web>
      <customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.0" />      
      <httpHandlers>
        <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
      </httpHandlers>
    </system.web>

 <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
     <httpProtocol>
     <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
     </customHeaders>
   </httpProtocol>
  </system.webServer>
 
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>

  <mailConfig>
    <host value="10.126.111.184" />
    <sender email="daniel.moreirasouza@telefonica.com" name="Alertas GIS" />
    <to email="wlima@img.com.br" name="Daniel Moreira" />  
    
    <subject value="Usuário atingiu número máximo de requisições" />
    <message value="O usuário {0} atingiu o número máximo de requisições diária de APIS. Número de requisições:{1} Limite:{2}" />    
  </mailConfig>
 <connectionStrings>
    <!-- only DatabaseType == SQLite -->    
    <add name="VivoLoginDatabase" connectionString="Data Source=C:\Projetos\Vivo\03C-0308\Git\VIVO_03C-0308\CentralControle\ControleAcesso\Banco\VIVO_Auth.db;Version=3;Read Only=False;" providerName="System.Data.SQLite" />
    <add name="VivoLoginDatabase1" connectionString="Data Source=C:\Projetos\Vivo\03C-0308\Git\VIVO_03C-0308\CentralControle\ControleAcesso\Banco\VIVO_Auth1.db;Version=3;Read Only=False;" providerName="System.Data.SQLite" />
    <!--<add name="VivoLoginDatabase_1" connectionString="Data Source=\\\\geops-04\Publico\VIVO_Auth.db;Version=3;Read Only=False;" providerName="System.Data.SQLite" />-->
  </connectionStrings>

<appSettings>
  <!--<add key="ServersReplication" value="http://10.126.112.137/ControleAcesso/;http://10.126.112.140/ControleAcesso/;http://10.126.112.141/ControleAcesso/;http://10.126.112.142/ControleAcesso/" />-->
  <add key="ServersReplication" value="http://192.213.107.73/ControlAcessoService_Rafael/" />

</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>